.eventForm{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.form-label{
    font-weight: 800;
}

h6{
    font-weight: 800;
}

button{
    width: 6rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}