<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="container eventForm">
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendInfoPSF(event.eventId)">Send</button>
  <hr size="6" width="100%" color="black">  
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id='alertDelete' hidden>
    <strong>Event Deleted!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <form>
    <div class="row">
      <div class="mb-3 col-6">
        <label for="eventId" class="form-label">Event Id</label>
        <input
          type="text"
          class="form-control"
          id="eventId"
          placeholder="{{ event.eventId }}"
          disabled
        />
      </div>
      <div class="mb-3 col-6">
        <label for="entityType" class="form-label">Entity Type</label>
        <input
          type="text"
          class="form-control"
          id="entityType"
          placeholder="{{ event.entityType }}"
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-6">
        <label for="effectiveStartDate" class="form-label"
          >Effective Start Date</label
        >
        <input
          type="datetime"
          class="form-control"
          id="effectiveStartDate"
          placeholder="{{ event.effectiveStartDate }}"
          disabled
        />
      </div>
      <div class="mb-3 col-6">
        <label for="publishedAt" class="form-label">Published At</label>
        <input
          type="datetime"
          class="form-control"
          id="publishedAt"
          placeholder="{{ event.publishedAt }}"
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-6">
        <label for="publishedBy" class="form-label">Published By</label>
        <input
          type="text"
          class="form-control"
          id="publishedBy"
          placeholder="{{ event.publishedBy }}"
          disabled
        />
      </div>
      <div class="mb-3 col-6">
        <label for="repost" class="form-label">Repost</label>
        <input
          type="text"
          class="form-control"
          id="repost"
          placeholder="{{ event.repost }}"
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-6">
        <h6>Entity Keys</h6>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ek of event.entityKeys; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ ek.name }}</td>
              <td>{{ ek.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mb-3 col-6">
        <h6>Params</h6>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of event.params; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ p.name }}</td>
              <td>{{ p.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-3">
        <button type="button" class="btn btn-success" routerLink = "/events/edit/{{ event.eventId }}">Edit</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
      </div>   
    </div>
  </form>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Are you sure to delete the event?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteEvent(event.eventId)">Ok</button>
      </div>
    </div>
  </div>
</div>