<div class="container eventForm">
    <div class="row">
        <div class="col-6">
            <h2 class="row">Create New Event</h2>
        </div>
        <div class="col-6">
            <div class="alert alert-danger mb-3 col-6" role="alert" 
            *ngIf="((eventId.touched || eventId.dirty) && eventId.invalid) || 
            ((entityType.touched || entityType.dirty) && entityType.invalid) ||
            ((effectiveStartDate.touched || effectiveStartDate.dirty) && effectiveStartDate.invalid) ||
            ((publishedAt.touched || publishedAt.dirty) && publishedAt.invalid) ||
            ((publishedBy.touched || publishedBy.dirty) && publishedBy.invalid) ||
            ((repost.touched || repost.dirty) && repost.invalid)">
                All the fields are required!
            </div>
        </div>
    </div>
    <form class="form" [formGroup] = "newEvent" (ngSubmit) = "saveNewEvent()">
      <div class="row">
        <div class="mb-3 col-6">
          <label for="eventId" class="form-label">Event Id</label>
          <input formControlName = "eventId" type="text" class="validate form-control" id="eventId" required/>
        </div>
        <div class="mb-3 col-6">
          <label for="entityType" class="form-label">Entity Type</label>
          <input formControlName = "entityType" type="text" class="validate form-control" id="entityType" />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-6">
          <label for="effectiveStartDate" class="form-label">Effective Start Date</label>
          <input formControlName = "effectiveStartDate"  type="date" class="validated form-control" id="effectiveStartDate" />
        </div>
        <div class="mb-3 col-6">
          <label for="publishedAt" class="form-label">Published At</label>
          <input formControlName = "publishedAt"  type="date" class="validate form-control" id="publishedAt" />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-6">
          <label for="publishedBy" class="form-label">Published By</label>
          <input formControlName = "publishedBy" type="text" class="validate form-control" id="publishedBy" />
        </div>
        <div class="mb-3 col-6">
          <label for="repost" class="form-label">Repost</label>
          <select formControlName = "publishedBy" class="validate form-select" id="repost" >
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-6">
            <div class="row-form">
                <h6>Entity Keys</h6>
                <button type="button" class="btn btn-warning" (click)="addRowEntityK()">Add Param</button>
                <button type="button" class="btn btn-success" (click)="deleteRowEntityK()">Delete Param</button>
            </div>
          <table class="table" id="tEK">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody id ="tbodyRowEK">
            </tbody>
          </table>
        </div>
        <div class="mb-3 col-6">
            <div class="row-form">
                <h6>Params</h6>  
                <div class="row">
                  <i class="bi bi-plus-square-fill" id="plus-one" data-bs-toggle="modal" data-bs-target="#modalAdd"></i>
                </div>
            </div>
          <table class="table" id="tparams">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody id ="tbodyRowParams">
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-3">
          <button type="submit" class="btn btn-primary" (onSubmit)="saveNewEvent()">Save</button>
          <button type="button" class="btn btn-danger" routerLink = "/events/allevents">Cancel</button>
        </div>   
      </div>
    </form>
  </div>
  <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddLabel">Add</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="im-n" class="form-label">Name</label>
          <input type="text" class="form-control" id="im-n" [(ngModel)]="name" required/>
          <label for="im-v" class="form-label">Value</label>
          <input type="text" class="form-control" id="im-v" [(ngModel)]="value" required/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="setParam()" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>